

  .pin {
    background: #93C6DB;
    position: absolute;
    border-radius:50%;
    width:0.8em;
    height:0.8em;
    cursor: pointer;
}
.pin::before {
    content: '';
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.5%, -50.45%);
    width: 80%;
    height: 79.5%;
    border-radius: 50%;
    border: 3px solid #93C6DB; 
    /* animation: pulse 1.3s ease-in-out infinite; */
}

.pin:hover::before {
    animation: pulse 1.3s ease-in-out infinite;
}
.pin span {
    display: inline-block;
    white-space: nowrap;
    position: absolute;
    left: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    background: #2E8EB4;
    color: white;
    padding: 6px;
    border-radius: 3px;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

.pin:hover span {
    opacity: 1; 
}


.NorthAmerica{
    top:40%;
    left:16%;
}
.LatinAmerica{
    top:71%;
    left:30%;
}
.Europe{
    top:47%;
    left:53%;
}
.MiddleEast{
    top:57%;
    left:59%;
}
.Asia{
    top:50%;
    left:69%;
}

.Oceania{
    top:78%;
    left:86%;
}

@keyframes pulse{
    100%{
        opacity: 0.1;
        transform: translate(-50%,-50%) scale(2.2);
    }
}

.earth {
    animation: rotate 250s linear  infinite; /* 250s fix */
    transition: animation 0.7s ease;
    background-repeat: repeat-x;
    background-size: cover;
    width: 1200px;
  }
  
  @keyframes rotate{
    from{
      left: translateX(0);
    }
    to{
      transform: translateX(100%);
    }
    

}


  /* @keyframes rotate{
      100%{
        transform: translateX(100%);
      }
      0%{
        transform: translateX(-10%);
      }
      

  } */




















