.container{
    position: absolute;
    right: 0;
    right: 0;

}



.planet-container {
    overflow: hidden;
    position: relative;
    width: 50vw;
    height: 634px;
    z-index: 1;
    background-color: #5e90f1;
    /* margin-left: 100px; */
}

.day{
    animation: rotate-day 5s linear infinite;
    /* background-image: url(https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg); */
    background-image: url(../assets/worldMapl.svg);
    background-size: 200%;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
}

@keyframes rotate-day {
    0% { background-position: 120% 0; }
    100% { background-position: -80% 0; }
}
