* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hoverWrapper {
  height: 100%;
  transition: width 0.5s ease; 
}
.card{
  width: 25vw;
}

.card:hover .textBox {
  width: 260px !important;
  background-color: #0B1744 !important;
}

.card-grid > .card .hoverWrapper {
  transition: filter 0.5s ease; 
}

.card-grid:hover > .card:not(:hover) .hoverWrapper {
  filter: blur(3px);
}



